.main-page {
    scroll-snap-type: y mandatory;
    /* overflow-y: auto; */
    overflow-x: hidden;
    height: 100vh;

}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
}

.fullscreen-mainpage-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    scroll-snap-align: start;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 150px;
    height: auto;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.intro-section {
    z-index: 999;
    height: 100vh;
    padding: 40px 40px 0px 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
}

.intro-content {
    max-width: 600px;
    text-align: left;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 40px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.intro-text {
    flex: 1;
    padding-right: 80px;
    text-align: justify;
}

.intro-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
}

/* 分页组件样式 */
.pagination {
    z-index: 100;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.rotating-image {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: rotate 25s linear infinite;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.fullscreen-section {
    display: block;
    min-height: 90%;
    background-color: #f0f0f0;
    position: relative;
    scroll-snap-align: none;
    padding: 15px 30px 30px 30px;
    margin-top: 60px;
}

.page-name{
    color: #3c3c3c;
}

.sidebar {
  position: fixed;
  display: flex;
  height: 100vh;
  float: left;
  flex-direction: column;
  justify-content: center; /* 垂直居中 */
  width: 150px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

/* 按钮样式 */
.footer-button-row {
  display: flex;
  justify-content: flex-end;
}

.footer-action-button {
  width: 120px;
  transition: all 0.3s ease;
}

.footer-action-button:hover {
  transform: scale(1.05);
}

/* 响应式设计 */
@media (max-width: 768px) {
  .el-row {
    flex-direction: column;
  }

  .footer-button-row {
    justify-content: center;
  }
}

.bottom-left-setting{
  display: flex;
  float: left;
}

.bottom-left-action-button {
  width: 120px;
  transition: all 0.3s ease;
}

.bottom-left-action-button:hover {
  transform: scale(1.05);
}

.card-alart{
  margin-bottom: 15px;
  margin-left: 2px;
  color: #e74c3c;
  font-size: 12px;
}